@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">

    <div class="row-fluid">
        <div class="page-header">
            <h3>User Social Profiling</h3>
            <p >This application used to access public information about the user from various social networking site. While selecting each menu you need to
            authenticate yourself in respective social networking site. This application only requires read only access. So it cannot update and post information using your account.
            It will only try to access public information for the given user using your account.</p>
        </div>
    </div>
    </div>
