@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="container-fluid">
     
            <div class="row-fluid">
                <div class="page-header">
                    <h2>Twitter Analyzer</h2>
                    <p class="lead">Public information abount the given twitter user.</p>
                </div>
            </div>
   
            <div class="row-fluid">


                <div class="col-lg-6">

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1">@@</span>
                        <input type="text" class="form-control" placeholder="Enter Username" aria-describedby="sizing-addon1" data-bind="value: UserName">
                    </div>


                </div>

                <div class="col-lg-3">
                    
                    <button type="button" class="btn-lg btn-primary" data-bind="click: GetUserDetails">Get Details</button>
                </div>

            </div>

        <div class="row-fluid">

            <section data-bind="if: isLoading">
                <div class="center-block">
                    <img src="~/Content/themes/base/images/loading.gif" alt="Loading......" />
                </div>
            </section>

            <section data-bind="ifnot: isLoading">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Followers Count</th>
                            <th>Following Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-bind="text: ProfileName()"></td>
                            <td data-bind="text: FollowersCount"></td>
                            <td data-bind="text: FollowingCount"></td>
                        </tr>
                    </tbody>
                </table>
            </section>

</div>

        <div class="row-fluid">
            <div class="list-group" data-bind="foreach: Tweets">
                <a href="#" class="list-group-item" data-bind="css: {active: $parent.SelectedTweet() == $data}, click: $parent.SetSelectedTweet.bind($parent)">
                    <h4 class="list-group-item-heading" data-bind="text: CreatedBy + ' - ' + CreatedAt"></h4>
                    <p class="list-group-item-text" data-bind="text: TweetText"></p>
                </a>
            </div>
        </div>
            </div>

@*<div id="menu">
    <div class="panel list-group">
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#sm" data-parent="#menu">Tweets <span class="label label-info">5</span> <span class="glyphicon glyphicon-envelope pull-right"></span></a>
        <div id="sm" class="collapse">
           sdfsdsdf sdfdsfsdf
        </div>
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#sl" data-parent="#menu">TASKS <span class="glyphicon glyphicon-tag pull-right"></span></a>
        <div id="sl" class="sublinks collapse">
            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> saved tasks</a>
            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> add new task</a>
        </div>
       
    </div>
</div>*@
       


@section scripts{    
    <script type="text/javascript">
        $(document).ready(function () {
            var twitterModel = new TwitterViewModel();
            ko.applyBindings(twitterModel);

        });
    </script>
    }