* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #999999;
    background: #000000;
}

h1 {
    padding: 30px 0 0 30px;
    font: italic normal 56px Georgia, Times, serif;
    color: #AA944F;
}

h1 a, h1 a:hover {
    color: #AA944F;
    text-decoration: none;
}

h2 {
    font: italic normal 2.25em Georgia, Times, serif;
    color: #BCBCBC;
}

p {
    padding: .75em 0;
    line-height: 1.6em;
    text-align: justify;
}

p#subtitle {
    padding: 0 0 0 30px;
    font: italic 24px Georgia, Times, serif;
    color: #DB7AC3;
    text-transform: lowercase;
}

a {
    color: #3787C3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* page */

#page {
    width: 100%;
    min-width: 960px;
    background: url('images/bg.jpg') no-repeat top;
}

#page2 {
    margin: 0 auto;
    width: 1024px;
}

#header {
    height: 110px;
}

/* menu */

#menu {
    height: 50px;
    background: url('images/menu.jpg') no-repeat;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: block;
    float: left;
    padding-left: 40px;
    font-size: .875em;
    line-height: 50px;
    text-transform: uppercase;
}

#menu ul li a {
    text-decoration: none;
    color: #85889E;
}

#menu ul li a:hover {
    color: #9D9FB1;
}

/* content */

#content {
    clear: both;
    float: left;
    width: 1020px;
    background: #131313 url('images/content.gif') no-repeat;
}

#content2 {
    background: url('images/content2.jpg') no-repeat top;
}

#content3 {
    height: 1%;
    padding: 20px 30px 15px 30px;
    background: url('images/content3.gif') no-repeat bottom;
}

#content .post {
    padding: 0 0 5em 0;
}

#content .entry {
    padding: 1em 0 0 0;
}

#content h2 a {
    color: #BCBCBC;
    text-decoration: none;
}

p.postmeta {
    font-size: .875em;
}

/* sidebar */

#sidebar {
    float: right;
    width: 270px;
    padding: 70px 0 10px 0;
}

#sidebar .box {
    padding-bottom: 3em;
}

#sidebar h2 {
    font-size: 1.25em;
    padding-left: 20px;
    line-height: 50px;
    background: url('images/h2.gif') no-repeat;
}

#sidebar p {
    line-height: 2em;
    padding: 1em 0 1em 15px;
    text-align: left;
}

#sidebar ul {
    list-style: none;
    padding: .75em 0;
}

#sidebar ul li {
    padding-left: 15px;
    line-height: 2.75em;
    border-bottom: 1px dotted #2E2E2E;
}

/* footer */

#footer {
    clear: both;
    padding: 10px 30px 10px 260px;
}

#footer p {
    font-size: .875em;
}
