@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>

<h2>Risk Predicting platform for Shared Economy business</h2>
@model DotNet.Highcharts.Highcharts

@(Model)

